/* share icon */

.social_share_icon {
  position: fixed;
  left: 0;
  display: block;
  opacity: 1;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  z-index: 94034;
}

.shareButtons {
  display: block;
  transition: all 0.2s ease-in;
  border: none;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  margin-bottom: 0;
  opacity: 1;
  overflow: hidden;
  padding: 12px;
  position: relative;
  text-align: left;
  top: 0;
  vertical-align: top;
  white-space: nowrap;
  width: 24px;
  font-size: 0;
}

.st-total {
  background: #fff;
  color: #555;
  display: inline-block;
  line-height: 18px;
  margin-right: 0;
  min-height: 40px;
  max-width: 80px;
  opacity: 1;
  padding: 4px 0;
  text-align: center;
  width: 48px;
}

.st-total > p {
  display: block;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.st-total > p.st-shares {
  font-size: 11px;
  line-height: 11px;
}

.social_share_icon > div {
  clear: left;
  float: left;
}

.shareButtons a img {
  height: 24px;
  margin-left: 0;
  vertical-align: top;
  width: 24px;
}

.shareButtons a span {
  display: inline-block;
  font-weight: 500;
  left: -35px;
  letter-spacing: 0.5px;
  opacity: 0;
  padding: 0 6px;
  position: relative;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

.shareButtons[data-network="facebook"] {
  background-color: #4267b2;
}

.shareButtons[data-network="twitter"] {
  background-color: #000000;
}

.shareButtons[data-network="whatsapp"] {
  background-color: #25d366;
}

.shareButtons[data-network="messenger"] {
  background-color: #448aff;
}

.shareButtons[data-network="telegram"] {
  background-color: #0088cc;
}

.shareButtons[data-network="line"] {
  background-color: #00c300;
}

.shareButtons[data-network="pinterest"] {
  background-color: #cb2027;
}

.shareButtons a span {
  color: #fff;
}

@media (min-width: 600px) {
  .shareButtons:hover {
    width: 80px;
  }

  .shareButtons:hover a > span {
    opacity: 1;
    display: inline-block;
    left: 0;
  }
}

@media only screen and (max-width: 768px) {
  body .see_video iframe {
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .da_div a {
    font-size: 14px;
  }
  .frame {
    width: 96%;
  }
  body #content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .social_share_icon {
    display: flex;
    text-align: left;
    top: 100%;
    transform: translateY(-100%);
    width: 100%;
  }

  .shareButtons a span {
    display: none;
  }

  .social_share_icon > div {
    width: 100%;
    text-align: center;
  }

  .shareButtons:hover {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  form #keyword {
    width: 80%;
  }
  #search_form button#button {
    width: 12.333333%;
  }
  form #form_submit {
    width: 20%;
  }
  .search_data {
    margin-top: 40px;
  }
  .shareButtons[data-network="messenger"],
  .shareButtons[data-network="line"] {
    display: none !important;
  }
}
@media only screen and (max-width: 375px) {
  body .see_video iframe {
    height: 250px;
  }
  .shareButtons[data-network="telegram"] {
    display: none;
  }
}
@media only screen and (max-width: 325px) {
  .da_div a {
    font-size: 12px;
  }
  form #keyword {
    width: 75%;
  }
}
