/malware/files/Logic_Bomb.zip
/malware/files/OOB_SQL_Injection.zip
/malware/files/Persistent_Backdoors.zip
/malware/files/R.U.D.Y.zip
/malware/files/Ransomeware_Example_In_C.zip
/malware/files/Remote_Access_Via_Buffer_Overflow.zip
/malware/files/Ruby_Steganography_Malware.zip
/malware/files/Shadow_RDP_Hacking.zip
/explore/THC/THCsfavouriteTipsTricks&Hacks.zip
/os/windows/wsl/WSL Utillities.zip
/malware/files/XSS_Attacks.zip
/web/wordlists/common_api_paths.txt
/web/wordlists/content.txt
/web/wordlists/parameters.txt
/web/wordlists/s0md3v_XSS.txt
