<footer role="contentinfo">
    <div align="center">
    <iframe data-aa='111347' src='https://ad.a-ads.com/111347?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
	</div>

    <form role="search" class="search" action="https://duckduckgo.com/" method="get" title="Search this site">
      <label for="q">Search</label>
      <input type="hidden" name="sites" value="pornvd.github.io" />
      <input class="search" type="search" name="q" id="q" placeholder="DuckDuckGo" />
      <button type="submit">Search</button>
    </form>

    <ul class="social">
        <li class="rss"><a href="{{ root }}/feed/index.xml" title="RSS feed">Subscribe</a></li>
        <li class="twitter"><a href="https://twitter.com/intent/user?screen_name=alex_gibson">Follow me on Twitter</a></li>
    </ul>

</footer>
